
.border{
  border: 1px solid rgba(0,0,0,0.5);
  margin: 0 1em;
  display: flex;
  flex-direction: row;
}

.border:hover{
  background: rgba(0,0,0,0.1);
}

input {
  /* width: 100%; */
  margin: 1em;
  box-sizing: border-box;
}